<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facultad de Ingenierías</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <!-- Menú lateral -->
        <nav class="sidebar">
            <img src="/images/logo-usbmed.png" alt="Logo de la Facultad" class="logo" width="350" height="100">
            <h2>Menú Principal</h2>
            <ul>
                <li><a href="resumen.html" target="content">Propositos de</a></li>
                <li><a href="investigacion.html" target="content">Investigación</a></li>
                <li><a href="lineasinv.html" target="content">Lineas de Investigación</a></li>
                <li><a href="bienestar.html" target="content">Bienestar</a></li>
                <li><a href="proyecsocial.html" target="content">Proyección Social</a></li>
                <li><a href="nomina.html" target="content">Nómina</a></li>
                <li><a href="revista.html" target="content">Revista Ingenierías</a></li>
                 <li><a href="Proyectos_estrateticos.html" target="content">Proyectos Estratégicos</a></li>
            </ul>
        </nav>
        <!-- Contenedor del iframe -->
        <div class="content">
            <iframe name="content" src="resumen.html" frameborder="0"></iframe>
        </div>
    </div>
</body>
</html>
